---
import BackgroundItem from './BackgroundItem.astro'
const BACKGROUND = [{
    date : 'September 2024 - June 2025',
    title: 'Computer Science and Software Engineering',
    school: 'University of Birmingham',
    description: 'I am currently working as a Software Engineer Intern at the University of Birmingham. I am working on a project that aims to improve the performance of a software that is used to simulate the behaviour of a robot in a warehouse. I am working with Java, Python and Docker.',
    link: 'https://www.birmingham.ac.uk/index.aspx'
}
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
    BACKGROUND.map(background => (
        <li class="mb-10 ms-4">
            <BackgroundItem {...background} />
        </li>                
    ))}
</ol>

