---
import CertificateItem from "./CertificateItem.astro";
const CERTIFICATES = [
    {
        date : 'June 2024',
        title : 'B2-C1 English Certificate IELTS',
        company: 'IELTS',
        img_link: 'https://etalkschool.com/wp-content/uploads/sites/6/ielts-e1679937505424.png',
        link:'',
    },
    {
        date : 'June 2020',
        title : 'B2 English Certificate Trinity',
        img_link: 'https://elblogdetrinity.com/wp-content/uploads/2022/10/TCL-white-RGB-padded.png',
        link:'',
    },
    {
        date : 'June 2025',
        title : 'Cambridge English Certificate - C1 Advanced',
        img_link: 'http://lesud.ma/wp-content/uploads/2021/03/LOGO-CAMBRIDGE-1.png',
        link:'',
    }
];
---
<h2 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl text-white mb-7">Certificates</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-7xl mx-auto">
    {CERTIFICATES.map(certificate => (
        <div class="flex justify-center">
            <div class="max-w-sm p-9 border border-gray-200 rounded-lg shadow-sm bg-gray-800 border-gray-700 hover:scale-105 transition-transform duration-300 ease-in-out">
                <CertificateItem {...certificate} />
            </div>              
        </div>
    ))}
</div>
