---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [{
    date : 'March 2024 - June 2024',
    title: 'Assistant in Faculty Evaluation',
    company: 'University of Castilla-La Mancha',
    description: 'During this period, I led the strategic distribution of faculty evaluation surveys across multiple departments, ensuring high participation and coordinating with internal teams to optimize distribution processes and maximize efficiency.',
    company_logo: 'https://www.cogitialbacete.org/wp-content/uploads/2023/09/UCLM-Logo.png'
},
{
    date : 'May 2025 - August 2025',
    title: 'Software Engineer Internship',
    company: 'Tecnobit (Grupo Oesía)',
    description: Throughout this experience, I gained my first professional exposure, where I significantly expanded my knowledge in requirements gathering, programming, methodologies, and unit testing, while also having the opportunity to apply what I had learned during my degree. In such a professional environment, I was also able to develop key skills such as teamwork, effective communication, and adaptability to new dynamics and challenges.',
    company_logo: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9VQ9Prwk9uKPF7P9ctkUoF49KldPe1k36LA&s'
},
];
---
<h2 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl text-white mb-7">Experience</h2> 
<ol class="relative border-s border-gray-200 border-gray-700">
                     
    {EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>                
    ))}
</ol>


