---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [{
    date : 'March 2024 - June 2024',
    title: 'Assistant in Faculty Evaluation',
    company: 'University of Castilla-La Mancha',
    description: 'During this period, I led the strategic distribution of faculty evaluation surveys across multiple departments, ensuring high participation and coordinating with internal teams to optimize distribution processes and maximize efficiency.',
    company_logo: 'https://www.cogitialbacete.org/wp-content/uploads/2023/09/UCLM-Logo.png'
},
];
---
<h2 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl text-white mb-7">Experience</h2> 
<ol class="relative border-s border-gray-200 border-gray-700">
                     
    {EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>                
    ))}
</ol>


