---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
{
    date : 'May 2025 - August 2025',
    title: 'Software Engineer Internship',
    company: 'Tecnobit (Grupo Oesía)',
    description: 'Throughout this experience, I gained my first professional exposure, where I significantly expanded my knowledge in requirements gathering, programming, methodologies, and unit testing, while also having the opportunity to apply what I had learned during my degree. In such a professional environment, I was also able to develop key skills such as teamwork, effective communication, and adaptability to new dynamics and challenges.',
    company_logo: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9VQ9Prwk9uKPF7P9ctkUoF49KldPe1k36LA&s'
}
];
---
<h2 class="mb-10 text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight leading-none">
    <span class="gradient-text">Experience</span>
</h2> 
<ol class="relative border-s-2 border-violet-500/30">
                     
    {EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>                
    ))}
</ol>


