<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">

    <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<style>
    nav {
        display: flex;
        gap: 1rem;
        justify-content: center;
        color: white;
    }
    a:hover {
        color: #f9a8d4;
    }
</style>