---
import ProjectItem from './ProjectItem.astro';
const PROJECTS = [
{
    title: 'Portfolio',
    description : 'Professional portfolio created with Astro, a modern tool for developing fast and efficient websites. It integrates Tailwind CSS for an attractive and adaptable design for different devices. It is hosted on GitHub Pages, making it significantly easy to access and view at any time.',
    link: 'https://github.com/mariodamas/portfolio_astro',
    image: '/portfolio_astro/foto_portfolio.webp',
    text_link: 'Available on GitHub',
    techs: [
        { url: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png", name: "HTML5" },
        { url: "https://astro.build/assets/press/astro-icon-light-gradient.png", name: "Astro" },
        { url: "https://kalimahapps.gallerycdn.vsassets.io/extensions/kalimahapps/tailwindcss-kit/1.0.4/1688444804387/Microsoft.VisualStudio.Services.Icons.Default", name: "Tailwind CSS" }
    ]
},
{
    title: 'SSH Recipes',
    description : 'Recipe application based on the user\'s available ingredients, designed to offer practical and tailored suggestions. Built with React Native and Expo, this tool is ideal for cross-platform use and allows recipes to be customized according to the user\'s needs.',
    link: 'https://github.com/ivan-korniichuk/shh-recipes',
    image: '/portfolio_astro/foto_ssh_recipes.webp',
    text_link: 'Available on GitHub',
    techs: [
        { url: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png", name: "HTML5" },
        { url: "https://skillforge.com/wp-content/uploads/2020/10/javascript.png", name: "JavaScript" },
        {url : "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png", name: "React Native" },
        {url: "https://avatars.githubusercontent.com/u/98495527?v=4", name:"Hono.js"},
        {url:"https://upload.wikimedia.org/wikipedia/labs/8/8e/Mysql_logo.png", name:"MySQL"}

    ]
},
{
    title: 'EsiMedia',
    description: 'Secure streaming platform developed with Angular on the frontend and Spring Boot on the backend. The project integrates controls inspired by 3FA, RBAC and ISO27001 best practices. Software quality was evaluated through testing, SonarQube metrics and core software engineering principles.',
    image: '/portfolio_astro/esimedia.png',
    link_frontend: 'https://github.com/manuc14/Frontend_ProyectoIntegrado_G06',
    link_backend: 'https://github.com/manuc14/Backend_ProyectoIntegrado_G06',
    techs: [
        { url: "https://angular.io/assets/images/logos/angular/angular.svg", name: "Angular" },
        { url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg", name: "Spring Boot" },
        { url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg", name: "Java" },
        { url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sonarqube/sonarqube-original.svg", name: "SonarQube" }
    ]
}

];
---

<h2 class="mb-10 text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight leading-none">
    <span class="gradient-text">Projects</span>
</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-7xl mx-auto">
    {PROJECTS.map(project => (
        <div class="flex justify-center">
            <ProjectItem {...project} />
        </div>
    ))}
</div>